=begin
#Keycloak Admin REST API

#This is a REST API reference for the Keycloak Admin

The version of the OpenAPI document: 1

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.0.0-SNAPSHOT

=end

require 'cgi'

module KeycloakRest
  class AttackDetectionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Clear any user login failures for all users   This can release temporary disabled users
    # @param realm [String] realm name (not id!)
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def realm_attack_detection_brute_force_users_delete(realm, opts = {})
      realm_attack_detection_brute_force_users_delete_with_http_info(realm, opts)
      nil
    end

    # Clear any user login failures for all users   This can release temporary disabled users
    # @param realm [String] realm name (not id!)
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def realm_attack_detection_brute_force_users_delete_with_http_info(realm, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttackDetectionApi.realm_attack_detection_brute_force_users_delete ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling AttackDetectionApi.realm_attack_detection_brute_force_users_delete"
      end
      # resource path
      local_var_path = '/{realm}/attack-detection/brute-force/users'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttackDetectionApi#realm_attack_detection_brute_force_users_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Clear any user login failures for the user   This can release temporary disabled user
    # @param realm [String] realm name (not id!)
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def realm_attack_detection_brute_force_users_user_id_delete(realm, user_id, opts = {})
      realm_attack_detection_brute_force_users_user_id_delete_with_http_info(realm, user_id, opts)
      nil
    end

    # Clear any user login failures for the user   This can release temporary disabled user
    # @param realm [String] realm name (not id!)
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def realm_attack_detection_brute_force_users_user_id_delete_with_http_info(realm, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttackDetectionApi.realm_attack_detection_brute_force_users_user_id_delete ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling AttackDetectionApi.realm_attack_detection_brute_force_users_user_id_delete"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AttackDetectionApi.realm_attack_detection_brute_force_users_user_id_delete"
      end
      # resource path
      local_var_path = '/{realm}/attack-detection/brute-force/users/{userId}'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s)).sub('{' + 'userId' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttackDetectionApi#realm_attack_detection_brute_force_users_user_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get status of a username in brute force detection
    # @param realm [String] realm name (not id!)
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def realm_attack_detection_brute_force_users_user_id_get(realm, user_id, opts = {})
      data, _status_code, _headers = realm_attack_detection_brute_force_users_user_id_get_with_http_info(realm, user_id, opts)
      data
    end

    # Get status of a username in brute force detection
    # @param realm [String] realm name (not id!)
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def realm_attack_detection_brute_force_users_user_id_get_with_http_info(realm, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttackDetectionApi.realm_attack_detection_brute_force_users_user_id_get ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling AttackDetectionApi.realm_attack_detection_brute_force_users_user_id_get"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AttackDetectionApi.realm_attack_detection_brute_force_users_user_id_get"
      end
      # resource path
      local_var_path = '/{realm}/attack-detection/brute-force/users/{userId}'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s)).sub('{' + 'userId' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Hash<String, Object>' 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttackDetectionApi#realm_attack_detection_brute_force_users_user_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
