=begin
#Keycloak Admin REST API

#This is a REST API reference for the Keycloak Admin

The version of the OpenAPI document: 1

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.0.0-SNAPSHOT

=end

require 'cgi'

module KeycloakRest
  class ClientScopesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get client scopes belonging to the realm   Returns a list of client scopes belonging to the realm
    # @param realm [String] realm name (not id!)
    # @param [Hash] opts the optional parameters
    # @return [Array<ClientScopeRepresentation>]
    def realm_client_scopes_get(realm, opts = {})
      data, _status_code, _headers = realm_client_scopes_get_with_http_info(realm, opts)
      data
    end

    # Get client scopes belonging to the realm   Returns a list of client scopes belonging to the realm
    # @param realm [String] realm name (not id!)
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ClientScopeRepresentation>, Integer, Hash)>] Array<ClientScopeRepresentation> data, response status code and response headers
    def realm_client_scopes_get_with_http_info(realm, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClientScopesApi.realm_client_scopes_get ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling ClientScopesApi.realm_client_scopes_get"
      end
      # resource path
      local_var_path = '/{realm}/client-scopes'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<ClientScopeRepresentation>' 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClientScopesApi#realm_client_scopes_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete the client scope
    # @param realm [String] realm name (not id!)
    # @param id [String] id of client scope (not name)
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def realm_client_scopes_id_delete(realm, id, opts = {})
      realm_client_scopes_id_delete_with_http_info(realm, id, opts)
      nil
    end

    # Delete the client scope
    # @param realm [String] realm name (not id!)
    # @param id [String] id of client scope (not name)
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def realm_client_scopes_id_delete_with_http_info(realm, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClientScopesApi.realm_client_scopes_id_delete ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling ClientScopesApi.realm_client_scopes_id_delete"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ClientScopesApi.realm_client_scopes_id_delete"
      end
      # resource path
      local_var_path = '/{realm}/client-scopes/{id}'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClientScopesApi#realm_client_scopes_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get representation of the client scope
    # @param realm [String] realm name (not id!)
    # @param id [String] id of client scope (not name)
    # @param [Hash] opts the optional parameters
    # @return [ClientScopeRepresentation]
    def realm_client_scopes_id_get(realm, id, opts = {})
      data, _status_code, _headers = realm_client_scopes_id_get_with_http_info(realm, id, opts)
      data
    end

    # Get representation of the client scope
    # @param realm [String] realm name (not id!)
    # @param id [String] id of client scope (not name)
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClientScopeRepresentation, Integer, Hash)>] ClientScopeRepresentation data, response status code and response headers
    def realm_client_scopes_id_get_with_http_info(realm, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClientScopesApi.realm_client_scopes_id_get ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling ClientScopesApi.realm_client_scopes_id_get"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ClientScopesApi.realm_client_scopes_id_get"
      end
      # resource path
      local_var_path = '/{realm}/client-scopes/{id}'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'ClientScopeRepresentation' 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClientScopesApi#realm_client_scopes_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update the client scope
    # @param realm [String] realm name (not id!)
    # @param id [String] id of client scope (not name)
    # @param client_scope_representation [ClientScopeRepresentation] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def realm_client_scopes_id_put(realm, id, client_scope_representation, opts = {})
      realm_client_scopes_id_put_with_http_info(realm, id, client_scope_representation, opts)
      nil
    end

    # Update the client scope
    # @param realm [String] realm name (not id!)
    # @param id [String] id of client scope (not name)
    # @param client_scope_representation [ClientScopeRepresentation] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def realm_client_scopes_id_put_with_http_info(realm, id, client_scope_representation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClientScopesApi.realm_client_scopes_id_put ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling ClientScopesApi.realm_client_scopes_id_put"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ClientScopesApi.realm_client_scopes_id_put"
      end
      # verify the required parameter 'client_scope_representation' is set
      if @api_client.config.client_side_validation && client_scope_representation.nil?
        fail ArgumentError, "Missing the required parameter 'client_scope_representation' when calling ClientScopesApi.realm_client_scopes_id_put"
      end
      # resource path
      local_var_path = '/{realm}/client-scopes/{id}'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(client_scope_representation) 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClientScopesApi#realm_client_scopes_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new client scope   Client Scope’s name must be unique!
    # @param realm [String] realm name (not id!)
    # @param client_scope_representation [ClientScopeRepresentation] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def realm_client_scopes_post(realm, client_scope_representation, opts = {})
      realm_client_scopes_post_with_http_info(realm, client_scope_representation, opts)
      nil
    end

    # Create a new client scope   Client Scope’s name must be unique!
    # @param realm [String] realm name (not id!)
    # @param client_scope_representation [ClientScopeRepresentation] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def realm_client_scopes_post_with_http_info(realm, client_scope_representation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ClientScopesApi.realm_client_scopes_post ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling ClientScopesApi.realm_client_scopes_post"
      end
      # verify the required parameter 'client_scope_representation' is set
      if @api_client.config.client_side_validation && client_scope_representation.nil?
        fail ArgumentError, "Missing the required parameter 'client_scope_representation' when calling ClientScopesApi.realm_client_scopes_post"
      end
      # resource path
      local_var_path = '/{realm}/client-scopes'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(client_scope_representation) 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClientScopesApi#realm_client_scopes_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
