=begin
#Keycloak Admin REST API

#This is a REST API reference for the Keycloak Admin

The version of the OpenAPI document: 1

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.0.0-SNAPSHOT

=end

require 'cgi'

module KeycloakRest
  class RolesByIDApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get client-level roles for the client that are in the role’s composite
    # @param realm [String] realm name (not id!)
    # @param role_id [String] 
    # @param client_uuid [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<RoleRepresentation>]
    def realm_roles_by_id_role_id_composites_clients_client_uuid_get(realm, role_id, client_uuid, opts = {})
      data, _status_code, _headers = realm_roles_by_id_role_id_composites_clients_client_uuid_get_with_http_info(realm, role_id, client_uuid, opts)
      data
    end

    # Get client-level roles for the client that are in the role’s composite
    # @param realm [String] realm name (not id!)
    # @param role_id [String] 
    # @param client_uuid [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<RoleRepresentation>, Integer, Hash)>] Array<RoleRepresentation> data, response status code and response headers
    def realm_roles_by_id_role_id_composites_clients_client_uuid_get_with_http_info(realm, role_id, client_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesByIDApi.realm_roles_by_id_role_id_composites_clients_client_uuid_get ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling RolesByIDApi.realm_roles_by_id_role_id_composites_clients_client_uuid_get"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling RolesByIDApi.realm_roles_by_id_role_id_composites_clients_client_uuid_get"
      end
      # verify the required parameter 'client_uuid' is set
      if @api_client.config.client_side_validation && client_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'client_uuid' when calling RolesByIDApi.realm_roles_by_id_role_id_composites_clients_client_uuid_get"
      end
      # resource path
      local_var_path = '/{realm}/roles-by-id/{role-id}/composites/clients/{clientUuid}'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s)).sub('{' + 'role-id' + '}', CGI.escape(role_id.to_s)).sub('{' + 'clientUuid' + '}', CGI.escape(client_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<RoleRepresentation>' 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesByIDApi#realm_roles_by_id_role_id_composites_clients_client_uuid_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a set of roles from the role’s composite
    # @param realm [String] realm name (not id!)
    # @param role_id [String] Role id
    # @param role_representation [Array<RoleRepresentation>] A set of roles to be removed
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def realm_roles_by_id_role_id_composites_delete(realm, role_id, role_representation, opts = {})
      realm_roles_by_id_role_id_composites_delete_with_http_info(realm, role_id, role_representation, opts)
      nil
    end

    # Remove a set of roles from the role’s composite
    # @param realm [String] realm name (not id!)
    # @param role_id [String] Role id
    # @param role_representation [Array<RoleRepresentation>] A set of roles to be removed
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def realm_roles_by_id_role_id_composites_delete_with_http_info(realm, role_id, role_representation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesByIDApi.realm_roles_by_id_role_id_composites_delete ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling RolesByIDApi.realm_roles_by_id_role_id_composites_delete"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling RolesByIDApi.realm_roles_by_id_role_id_composites_delete"
      end
      # verify the required parameter 'role_representation' is set
      if @api_client.config.client_side_validation && role_representation.nil?
        fail ArgumentError, "Missing the required parameter 'role_representation' when calling RolesByIDApi.realm_roles_by_id_role_id_composites_delete"
      end
      # resource path
      local_var_path = '/{realm}/roles-by-id/{role-id}/composites'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s)).sub('{' + 'role-id' + '}', CGI.escape(role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(role_representation) 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesByIDApi#realm_roles_by_id_role_id_composites_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get role’s children   Returns a set of role’s children provided the role is a composite.
    # @param realm [String] realm name (not id!)
    # @param role_id [String] Role id
    # @param [Hash] opts the optional parameters
    # @return [Array<RoleRepresentation>]
    def realm_roles_by_id_role_id_composites_get(realm, role_id, opts = {})
      data, _status_code, _headers = realm_roles_by_id_role_id_composites_get_with_http_info(realm, role_id, opts)
      data
    end

    # Get role’s children   Returns a set of role’s children provided the role is a composite.
    # @param realm [String] realm name (not id!)
    # @param role_id [String] Role id
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<RoleRepresentation>, Integer, Hash)>] Array<RoleRepresentation> data, response status code and response headers
    def realm_roles_by_id_role_id_composites_get_with_http_info(realm, role_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesByIDApi.realm_roles_by_id_role_id_composites_get ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling RolesByIDApi.realm_roles_by_id_role_id_composites_get"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling RolesByIDApi.realm_roles_by_id_role_id_composites_get"
      end
      # resource path
      local_var_path = '/{realm}/roles-by-id/{role-id}/composites'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s)).sub('{' + 'role-id' + '}', CGI.escape(role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<RoleRepresentation>' 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesByIDApi#realm_roles_by_id_role_id_composites_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Make the role a composite role by associating some child roles
    # @param realm [String] realm name (not id!)
    # @param role_id [String] Role id
    # @param role_representation [Array<RoleRepresentation>] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def realm_roles_by_id_role_id_composites_post(realm, role_id, role_representation, opts = {})
      realm_roles_by_id_role_id_composites_post_with_http_info(realm, role_id, role_representation, opts)
      nil
    end

    # Make the role a composite role by associating some child roles
    # @param realm [String] realm name (not id!)
    # @param role_id [String] Role id
    # @param role_representation [Array<RoleRepresentation>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def realm_roles_by_id_role_id_composites_post_with_http_info(realm, role_id, role_representation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesByIDApi.realm_roles_by_id_role_id_composites_post ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling RolesByIDApi.realm_roles_by_id_role_id_composites_post"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling RolesByIDApi.realm_roles_by_id_role_id_composites_post"
      end
      # verify the required parameter 'role_representation' is set
      if @api_client.config.client_side_validation && role_representation.nil?
        fail ArgumentError, "Missing the required parameter 'role_representation' when calling RolesByIDApi.realm_roles_by_id_role_id_composites_post"
      end
      # resource path
      local_var_path = '/{realm}/roles-by-id/{role-id}/composites'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s)).sub('{' + 'role-id' + '}', CGI.escape(role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(role_representation) 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesByIDApi#realm_roles_by_id_role_id_composites_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get realm-level roles that are in the role’s composite
    # @param realm [String] realm name (not id!)
    # @param role_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<RoleRepresentation>]
    def realm_roles_by_id_role_id_composites_realm_get(realm, role_id, opts = {})
      data, _status_code, _headers = realm_roles_by_id_role_id_composites_realm_get_with_http_info(realm, role_id, opts)
      data
    end

    # Get realm-level roles that are in the role’s composite
    # @param realm [String] realm name (not id!)
    # @param role_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<RoleRepresentation>, Integer, Hash)>] Array<RoleRepresentation> data, response status code and response headers
    def realm_roles_by_id_role_id_composites_realm_get_with_http_info(realm, role_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesByIDApi.realm_roles_by_id_role_id_composites_realm_get ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling RolesByIDApi.realm_roles_by_id_role_id_composites_realm_get"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling RolesByIDApi.realm_roles_by_id_role_id_composites_realm_get"
      end
      # resource path
      local_var_path = '/{realm}/roles-by-id/{role-id}/composites/realm'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s)).sub('{' + 'role-id' + '}', CGI.escape(role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<RoleRepresentation>' 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesByIDApi#realm_roles_by_id_role_id_composites_realm_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete the role
    # @param realm [String] realm name (not id!)
    # @param role_id [String] id of role
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def realm_roles_by_id_role_id_delete(realm, role_id, opts = {})
      realm_roles_by_id_role_id_delete_with_http_info(realm, role_id, opts)
      nil
    end

    # Delete the role
    # @param realm [String] realm name (not id!)
    # @param role_id [String] id of role
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def realm_roles_by_id_role_id_delete_with_http_info(realm, role_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesByIDApi.realm_roles_by_id_role_id_delete ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling RolesByIDApi.realm_roles_by_id_role_id_delete"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling RolesByIDApi.realm_roles_by_id_role_id_delete"
      end
      # resource path
      local_var_path = '/{realm}/roles-by-id/{role-id}'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s)).sub('{' + 'role-id' + '}', CGI.escape(role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesByIDApi#realm_roles_by_id_role_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a specific role’s representation
    # @param realm [String] realm name (not id!)
    # @param role_id [String] id of role
    # @param [Hash] opts the optional parameters
    # @return [RoleRepresentation]
    def realm_roles_by_id_role_id_get(realm, role_id, opts = {})
      data, _status_code, _headers = realm_roles_by_id_role_id_get_with_http_info(realm, role_id, opts)
      data
    end

    # Get a specific role’s representation
    # @param realm [String] realm name (not id!)
    # @param role_id [String] id of role
    # @param [Hash] opts the optional parameters
    # @return [Array<(RoleRepresentation, Integer, Hash)>] RoleRepresentation data, response status code and response headers
    def realm_roles_by_id_role_id_get_with_http_info(realm, role_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesByIDApi.realm_roles_by_id_role_id_get ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling RolesByIDApi.realm_roles_by_id_role_id_get"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling RolesByIDApi.realm_roles_by_id_role_id_get"
      end
      # resource path
      local_var_path = '/{realm}/roles-by-id/{role-id}'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s)).sub('{' + 'role-id' + '}', CGI.escape(role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'RoleRepresentation' 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesByIDApi#realm_roles_by_id_role_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Return object stating whether role Authoirzation permissions have been initialized or not and a reference
    # @param realm [String] realm name (not id!)
    # @param role_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ManagementPermissionReference]
    def realm_roles_by_id_role_id_management_permissions_get(realm, role_id, opts = {})
      data, _status_code, _headers = realm_roles_by_id_role_id_management_permissions_get_with_http_info(realm, role_id, opts)
      data
    end

    # Return object stating whether role Authoirzation permissions have been initialized or not and a reference
    # @param realm [String] realm name (not id!)
    # @param role_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ManagementPermissionReference, Integer, Hash)>] ManagementPermissionReference data, response status code and response headers
    def realm_roles_by_id_role_id_management_permissions_get_with_http_info(realm, role_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesByIDApi.realm_roles_by_id_role_id_management_permissions_get ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling RolesByIDApi.realm_roles_by_id_role_id_management_permissions_get"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling RolesByIDApi.realm_roles_by_id_role_id_management_permissions_get"
      end
      # resource path
      local_var_path = '/{realm}/roles-by-id/{role-id}/management/permissions'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s)).sub('{' + 'role-id' + '}', CGI.escape(role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'ManagementPermissionReference' 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesByIDApi#realm_roles_by_id_role_id_management_permissions_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Return object stating whether role Authoirzation permissions have been initialized or not and a reference
    # @param realm [String] realm name (not id!)
    # @param role_id [String] 
    # @param management_permission_reference [ManagementPermissionReference] 
    # @param [Hash] opts the optional parameters
    # @return [ManagementPermissionReference]
    def realm_roles_by_id_role_id_management_permissions_put(realm, role_id, management_permission_reference, opts = {})
      data, _status_code, _headers = realm_roles_by_id_role_id_management_permissions_put_with_http_info(realm, role_id, management_permission_reference, opts)
      data
    end

    # Return object stating whether role Authoirzation permissions have been initialized or not and a reference
    # @param realm [String] realm name (not id!)
    # @param role_id [String] 
    # @param management_permission_reference [ManagementPermissionReference] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ManagementPermissionReference, Integer, Hash)>] ManagementPermissionReference data, response status code and response headers
    def realm_roles_by_id_role_id_management_permissions_put_with_http_info(realm, role_id, management_permission_reference, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesByIDApi.realm_roles_by_id_role_id_management_permissions_put ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling RolesByIDApi.realm_roles_by_id_role_id_management_permissions_put"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling RolesByIDApi.realm_roles_by_id_role_id_management_permissions_put"
      end
      # verify the required parameter 'management_permission_reference' is set
      if @api_client.config.client_side_validation && management_permission_reference.nil?
        fail ArgumentError, "Missing the required parameter 'management_permission_reference' when calling RolesByIDApi.realm_roles_by_id_role_id_management_permissions_put"
      end
      # resource path
      local_var_path = '/{realm}/roles-by-id/{role-id}/management/permissions'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s)).sub('{' + 'role-id' + '}', CGI.escape(role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(management_permission_reference) 

      # return_type
      return_type = opts[:return_type] || 'ManagementPermissionReference' 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesByIDApi#realm_roles_by_id_role_id_management_permissions_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update the role
    # @param realm [String] realm name (not id!)
    # @param role_id [String] id of role
    # @param role_representation [RoleRepresentation] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def realm_roles_by_id_role_id_put(realm, role_id, role_representation, opts = {})
      realm_roles_by_id_role_id_put_with_http_info(realm, role_id, role_representation, opts)
      nil
    end

    # Update the role
    # @param realm [String] realm name (not id!)
    # @param role_id [String] id of role
    # @param role_representation [RoleRepresentation] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def realm_roles_by_id_role_id_put_with_http_info(realm, role_id, role_representation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesByIDApi.realm_roles_by_id_role_id_put ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling RolesByIDApi.realm_roles_by_id_role_id_put"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling RolesByIDApi.realm_roles_by_id_role_id_put"
      end
      # verify the required parameter 'role_representation' is set
      if @api_client.config.client_side_validation && role_representation.nil?
        fail ArgumentError, "Missing the required parameter 'role_representation' when calling RolesByIDApi.realm_roles_by_id_role_id_put"
      end
      # resource path
      local_var_path = '/{realm}/roles-by-id/{role-id}'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s)).sub('{' + 'role-id' + '}', CGI.escape(role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(role_representation) 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesByIDApi#realm_roles_by_id_role_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
