=begin
#Keycloak Admin REST API

#This is a REST API reference for the Keycloak Admin

The version of the OpenAPI document: 1

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.0.0-SNAPSHOT

=end

require 'cgi'

module KeycloakRest
  class RoleMapperApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get role mappings
    # @param realm [String] realm name (not id!)
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MappingsRepresentation]
    def realm_groups_id_role_mappings_get(realm, id, opts = {})
      data, _status_code, _headers = realm_groups_id_role_mappings_get_with_http_info(realm, id, opts)
      data
    end

    # Get role mappings
    # @param realm [String] realm name (not id!)
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MappingsRepresentation, Integer, Hash)>] MappingsRepresentation data, response status code and response headers
    def realm_groups_id_role_mappings_get_with_http_info(realm, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoleMapperApi.realm_groups_id_role_mappings_get ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling RoleMapperApi.realm_groups_id_role_mappings_get"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RoleMapperApi.realm_groups_id_role_mappings_get"
      end
      # resource path
      local_var_path = '/{realm}/groups/{id}/role-mappings'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'MappingsRepresentation' 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoleMapperApi#realm_groups_id_role_mappings_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get realm-level roles that can be mapped
    # @param realm [String] realm name (not id!)
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<RoleRepresentation>]
    def realm_groups_id_role_mappings_realm_available_get(realm, id, opts = {})
      data, _status_code, _headers = realm_groups_id_role_mappings_realm_available_get_with_http_info(realm, id, opts)
      data
    end

    # Get realm-level roles that can be mapped
    # @param realm [String] realm name (not id!)
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<RoleRepresentation>, Integer, Hash)>] Array<RoleRepresentation> data, response status code and response headers
    def realm_groups_id_role_mappings_realm_available_get_with_http_info(realm, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoleMapperApi.realm_groups_id_role_mappings_realm_available_get ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling RoleMapperApi.realm_groups_id_role_mappings_realm_available_get"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RoleMapperApi.realm_groups_id_role_mappings_realm_available_get"
      end
      # resource path
      local_var_path = '/{realm}/groups/{id}/role-mappings/realm/available'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<RoleRepresentation>' 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoleMapperApi#realm_groups_id_role_mappings_realm_available_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get effective realm-level role mappings   This will recurse all composite roles to get the result.
    # @param realm [String] realm name (not id!)
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :brief_representation if false, return roles with their attributes
    # @return [Array<RoleRepresentation>]
    def realm_groups_id_role_mappings_realm_composite_get(realm, id, opts = {})
      data, _status_code, _headers = realm_groups_id_role_mappings_realm_composite_get_with_http_info(realm, id, opts)
      data
    end

    # Get effective realm-level role mappings   This will recurse all composite roles to get the result.
    # @param realm [String] realm name (not id!)
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :brief_representation if false, return roles with their attributes
    # @return [Array<(Array<RoleRepresentation>, Integer, Hash)>] Array<RoleRepresentation> data, response status code and response headers
    def realm_groups_id_role_mappings_realm_composite_get_with_http_info(realm, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoleMapperApi.realm_groups_id_role_mappings_realm_composite_get ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling RoleMapperApi.realm_groups_id_role_mappings_realm_composite_get"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RoleMapperApi.realm_groups_id_role_mappings_realm_composite_get"
      end
      # resource path
      local_var_path = '/{realm}/groups/{id}/role-mappings/realm/composite'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'briefRepresentation'] = opts[:'brief_representation'] if !opts[:'brief_representation'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<RoleRepresentation>' 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoleMapperApi#realm_groups_id_role_mappings_realm_composite_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete realm-level role mappings
    # @param realm [String] realm name (not id!)
    # @param id [String] 
    # @param role_representation [Array<RoleRepresentation>] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def realm_groups_id_role_mappings_realm_delete(realm, id, role_representation, opts = {})
      realm_groups_id_role_mappings_realm_delete_with_http_info(realm, id, role_representation, opts)
      nil
    end

    # Delete realm-level role mappings
    # @param realm [String] realm name (not id!)
    # @param id [String] 
    # @param role_representation [Array<RoleRepresentation>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def realm_groups_id_role_mappings_realm_delete_with_http_info(realm, id, role_representation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoleMapperApi.realm_groups_id_role_mappings_realm_delete ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling RoleMapperApi.realm_groups_id_role_mappings_realm_delete"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RoleMapperApi.realm_groups_id_role_mappings_realm_delete"
      end
      # verify the required parameter 'role_representation' is set
      if @api_client.config.client_side_validation && role_representation.nil?
        fail ArgumentError, "Missing the required parameter 'role_representation' when calling RoleMapperApi.realm_groups_id_role_mappings_realm_delete"
      end
      # resource path
      local_var_path = '/{realm}/groups/{id}/role-mappings/realm'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(role_representation) 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoleMapperApi#realm_groups_id_role_mappings_realm_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get realm-level role mappings
    # @param realm [String] realm name (not id!)
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<RoleRepresentation>]
    def realm_groups_id_role_mappings_realm_get(realm, id, opts = {})
      data, _status_code, _headers = realm_groups_id_role_mappings_realm_get_with_http_info(realm, id, opts)
      data
    end

    # Get realm-level role mappings
    # @param realm [String] realm name (not id!)
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<RoleRepresentation>, Integer, Hash)>] Array<RoleRepresentation> data, response status code and response headers
    def realm_groups_id_role_mappings_realm_get_with_http_info(realm, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoleMapperApi.realm_groups_id_role_mappings_realm_get ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling RoleMapperApi.realm_groups_id_role_mappings_realm_get"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RoleMapperApi.realm_groups_id_role_mappings_realm_get"
      end
      # resource path
      local_var_path = '/{realm}/groups/{id}/role-mappings/realm'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<RoleRepresentation>' 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoleMapperApi#realm_groups_id_role_mappings_realm_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add realm-level role mappings to the user
    # @param realm [String] realm name (not id!)
    # @param id [String] 
    # @param role_representation [Array<RoleRepresentation>] Roles to add
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def realm_groups_id_role_mappings_realm_post(realm, id, role_representation, opts = {})
      realm_groups_id_role_mappings_realm_post_with_http_info(realm, id, role_representation, opts)
      nil
    end

    # Add realm-level role mappings to the user
    # @param realm [String] realm name (not id!)
    # @param id [String] 
    # @param role_representation [Array<RoleRepresentation>] Roles to add
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def realm_groups_id_role_mappings_realm_post_with_http_info(realm, id, role_representation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoleMapperApi.realm_groups_id_role_mappings_realm_post ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling RoleMapperApi.realm_groups_id_role_mappings_realm_post"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RoleMapperApi.realm_groups_id_role_mappings_realm_post"
      end
      # verify the required parameter 'role_representation' is set
      if @api_client.config.client_side_validation && role_representation.nil?
        fail ArgumentError, "Missing the required parameter 'role_representation' when calling RoleMapperApi.realm_groups_id_role_mappings_realm_post"
      end
      # resource path
      local_var_path = '/{realm}/groups/{id}/role-mappings/realm'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(role_representation) 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoleMapperApi#realm_groups_id_role_mappings_realm_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get role mappings
    # @param realm [String] realm name (not id!)
    # @param id [String] User id
    # @param [Hash] opts the optional parameters
    # @return [MappingsRepresentation]
    def realm_users_id_role_mappings_get(realm, id, opts = {})
      data, _status_code, _headers = realm_users_id_role_mappings_get_with_http_info(realm, id, opts)
      data
    end

    # Get role mappings
    # @param realm [String] realm name (not id!)
    # @param id [String] User id
    # @param [Hash] opts the optional parameters
    # @return [Array<(MappingsRepresentation, Integer, Hash)>] MappingsRepresentation data, response status code and response headers
    def realm_users_id_role_mappings_get_with_http_info(realm, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoleMapperApi.realm_users_id_role_mappings_get ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling RoleMapperApi.realm_users_id_role_mappings_get"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RoleMapperApi.realm_users_id_role_mappings_get"
      end
      # resource path
      local_var_path = '/{realm}/users/{id}/role-mappings'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'MappingsRepresentation' 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoleMapperApi#realm_users_id_role_mappings_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get realm-level roles that can be mapped
    # @param realm [String] realm name (not id!)
    # @param id [String] User id
    # @param [Hash] opts the optional parameters
    # @return [Array<RoleRepresentation>]
    def realm_users_id_role_mappings_realm_available_get(realm, id, opts = {})
      data, _status_code, _headers = realm_users_id_role_mappings_realm_available_get_with_http_info(realm, id, opts)
      data
    end

    # Get realm-level roles that can be mapped
    # @param realm [String] realm name (not id!)
    # @param id [String] User id
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<RoleRepresentation>, Integer, Hash)>] Array<RoleRepresentation> data, response status code and response headers
    def realm_users_id_role_mappings_realm_available_get_with_http_info(realm, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoleMapperApi.realm_users_id_role_mappings_realm_available_get ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling RoleMapperApi.realm_users_id_role_mappings_realm_available_get"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RoleMapperApi.realm_users_id_role_mappings_realm_available_get"
      end
      # resource path
      local_var_path = '/{realm}/users/{id}/role-mappings/realm/available'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<RoleRepresentation>' 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoleMapperApi#realm_users_id_role_mappings_realm_available_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get effective realm-level role mappings   This will recurse all composite roles to get the result.
    # @param realm [String] realm name (not id!)
    # @param id [String] User id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :brief_representation if false, return roles with their attributes
    # @return [Array<RoleRepresentation>]
    def realm_users_id_role_mappings_realm_composite_get(realm, id, opts = {})
      data, _status_code, _headers = realm_users_id_role_mappings_realm_composite_get_with_http_info(realm, id, opts)
      data
    end

    # Get effective realm-level role mappings   This will recurse all composite roles to get the result.
    # @param realm [String] realm name (not id!)
    # @param id [String] User id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :brief_representation if false, return roles with their attributes
    # @return [Array<(Array<RoleRepresentation>, Integer, Hash)>] Array<RoleRepresentation> data, response status code and response headers
    def realm_users_id_role_mappings_realm_composite_get_with_http_info(realm, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoleMapperApi.realm_users_id_role_mappings_realm_composite_get ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling RoleMapperApi.realm_users_id_role_mappings_realm_composite_get"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RoleMapperApi.realm_users_id_role_mappings_realm_composite_get"
      end
      # resource path
      local_var_path = '/{realm}/users/{id}/role-mappings/realm/composite'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'briefRepresentation'] = opts[:'brief_representation'] if !opts[:'brief_representation'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<RoleRepresentation>' 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoleMapperApi#realm_users_id_role_mappings_realm_composite_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete realm-level role mappings
    # @param realm [String] realm name (not id!)
    # @param id [String] User id
    # @param role_representation [Array<RoleRepresentation>] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def realm_users_id_role_mappings_realm_delete(realm, id, role_representation, opts = {})
      realm_users_id_role_mappings_realm_delete_with_http_info(realm, id, role_representation, opts)
      nil
    end

    # Delete realm-level role mappings
    # @param realm [String] realm name (not id!)
    # @param id [String] User id
    # @param role_representation [Array<RoleRepresentation>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def realm_users_id_role_mappings_realm_delete_with_http_info(realm, id, role_representation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoleMapperApi.realm_users_id_role_mappings_realm_delete ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling RoleMapperApi.realm_users_id_role_mappings_realm_delete"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RoleMapperApi.realm_users_id_role_mappings_realm_delete"
      end
      # verify the required parameter 'role_representation' is set
      if @api_client.config.client_side_validation && role_representation.nil?
        fail ArgumentError, "Missing the required parameter 'role_representation' when calling RoleMapperApi.realm_users_id_role_mappings_realm_delete"
      end
      # resource path
      local_var_path = '/{realm}/users/{id}/role-mappings/realm'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(role_representation) 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoleMapperApi#realm_users_id_role_mappings_realm_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get realm-level role mappings
    # @param realm [String] realm name (not id!)
    # @param id [String] User id
    # @param [Hash] opts the optional parameters
    # @return [Array<RoleRepresentation>]
    def realm_users_id_role_mappings_realm_get(realm, id, opts = {})
      data, _status_code, _headers = realm_users_id_role_mappings_realm_get_with_http_info(realm, id, opts)
      data
    end

    # Get realm-level role mappings
    # @param realm [String] realm name (not id!)
    # @param id [String] User id
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<RoleRepresentation>, Integer, Hash)>] Array<RoleRepresentation> data, response status code and response headers
    def realm_users_id_role_mappings_realm_get_with_http_info(realm, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoleMapperApi.realm_users_id_role_mappings_realm_get ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling RoleMapperApi.realm_users_id_role_mappings_realm_get"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RoleMapperApi.realm_users_id_role_mappings_realm_get"
      end
      # resource path
      local_var_path = '/{realm}/users/{id}/role-mappings/realm'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<RoleRepresentation>' 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoleMapperApi#realm_users_id_role_mappings_realm_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add realm-level role mappings to the user
    # @param realm [String] realm name (not id!)
    # @param id [String] User id
    # @param role_representation [Array<RoleRepresentation>] Roles to add
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def realm_users_id_role_mappings_realm_post(realm, id, role_representation, opts = {})
      realm_users_id_role_mappings_realm_post_with_http_info(realm, id, role_representation, opts)
      nil
    end

    # Add realm-level role mappings to the user
    # @param realm [String] realm name (not id!)
    # @param id [String] User id
    # @param role_representation [Array<RoleRepresentation>] Roles to add
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def realm_users_id_role_mappings_realm_post_with_http_info(realm, id, role_representation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoleMapperApi.realm_users_id_role_mappings_realm_post ...'
      end
      # verify the required parameter 'realm' is set
      if @api_client.config.client_side_validation && realm.nil?
        fail ArgumentError, "Missing the required parameter 'realm' when calling RoleMapperApi.realm_users_id_role_mappings_realm_post"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RoleMapperApi.realm_users_id_role_mappings_realm_post"
      end
      # verify the required parameter 'role_representation' is set
      if @api_client.config.client_side_validation && role_representation.nil?
        fail ArgumentError, "Missing the required parameter 'role_representation' when calling RoleMapperApi.realm_users_id_role_mappings_realm_post"
      end
      # resource path
      local_var_path = '/{realm}/users/{id}/role-mappings/realm'.sub('{' + 'realm' + '}', CGI.escape(realm.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(role_representation) 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['access_token']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoleMapperApi#realm_users_id_role_mappings_realm_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
